POSTGRES_DB=gestisoft
POSTGRES_USER=gestisoft
POSTGRES_PASSWORD=CAMBIA_QUESTA_PASSWORD
POSTGRES_HOST_PORT=5432

API_HOST_PORT=5080
FRONTEND_HOST_PORT=8081
FRONTEND_ORIGIN=http://localhost:8081

ASPNETCORE_ENVIRONMENT=Production
